/* src/components/Navigation/Navigation.module.css */
/* .nav {
    display: flex;
    gap: 20px;
  } */
.Link {
  padding: 10px 10px 10px 10px;
  text-decoration: none;
}

.Link:hover {
  text-decoration: underline;
}
